@{
    Layout = "_Layout2";
    ViewData["Title"] = "Pagina de INICIO";
}

<div class="text-center">
    <h1 class="h3 text-center text-success">Desarrollo de sistemas Web</h1>
    <h2 class="h5 text-center text-muted">Licenciatura en ingenieria de software</h2>
    <p class="display-5 mt-5">Bienvenidos conductores</p>
</div>
