@{
    Layout = "_Layout2";
    ViewData["Title"] = "Pagina de conductor";
}

<div class="text-center">
    <h1 class="h3 text-center text-success">Bienvenidos conductores</h1>
    <h2 class="h5 text-center text-muted">Realiza tus operaciones en el menú superior</h2>
</div>
