@model ConductorViewModel

@{
    ViewData["Title"] = "Crear nuevo conductor";
    Layout = "_Layout2";
}
<h2 class="text-center mb-4">@ViewData["Title"]</h2>

@if ((bool)ViewData["creado"])
{
    <div class="alert alert-success alert-dismissible fade show mx-auto" style="max-width: 600px" role="alert">
        El usuario se ha creado con éxito
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<form asp-action="RegistroConductor">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="card mt-3 mx-auto" style="max-width: 600px">
        <div class="card-header">
            Datos de conductor
        </div>
        <div class="card-body">
            <div class="mb-3">
                <label asp-for="Nombres" class="form-label"></label>
                <input asp-for="Nombres" class="form-control" />
                <span asp-validation-for="Nombres" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ApellidoPaterno" class="form-label"></label>
                <input asp-for="ApellidoPaterno" class="form-control" />
                <span asp-validation-for="ApellidoPaterno" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ApellidoMaterno" class="form-label"></label>
                <input asp-for="ApellidoMaterno" class="form-control" />
                <span asp-validation-for="ApellidoMaterno" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="NumeroDeLicencia" class="form-label"></label>
                <input asp-for="NumeroDeLicencia" class="form-control" />
                <span asp-validation-for="NumeroDeLicencia" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="PhoneNumber" class="form-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="FechaNacimiento" class="form-label"></label>
                <input asp-for="FechaNacimiento" class="form-control" type="date" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
         
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" />
                <div class="small text-secondary">Se recomienda ingrese una contraseña fuerte</div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ConfirmPassword" class="form-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="card-footer text-center">
            <button type="submit" class="btn btn-primary">Crear conductor</button>
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

