@{
    ViewData["Title"] = "Pagina de INICIO";
    Layout = "_Layout2";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Vehiculo con póliza</th>
            <th scope="col">Dato de vigencia</th>
            <th scope="col">Dato cobertura</th>
           
        </tr>
    </thead>
    <tbody>
        <tr>
            
           
           
        </tr>
        <tr>
            
           
         
        </tr>
        <tr>
         
           
        </tr>
    </tbody>
</table>
